    <header> <h1> <%= nazwa  %></h1> </header>
    <hr>

    <style>
        header{
            display: flex;
            justify-content: center;
        }

        hr{
            width: 75%;
            transform: scaleX(1);
            transition: transform 0.5s linear;
            
        }
        hr:hover{
            transform: scaleX(1.2) ;
                                
        }


    </style>